.footer {
    display: block;

}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

}

.case {


    display: flex;
    justify-content: center;
    gap: 30px;

}

.case1 {

    display: flex;
    justify-content: center;
    gap: 30px;


}

.case2 {

    display: flex;
    justify-content: center;



}

.gnb>ul>li~li::before {

    content: "";

    position: absolute;

    top: 50%;
    left: -20px;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 12px;
    background: black;

}