.footer {
    display: block;

}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: white;
}

.case {


    display: flex;
    justify-content: center;
    gap: 30px;
    background: white;
    margin-top: 3%;
    padding-bottom: 3%;
}

.case1 {

    display: flex;
    justify-content: center;
    gap: 30px;
    background: white;
    padding-bottom: 3%;

}

.case2 {

    display: flex;
    justify-content: center;
    background: white;
    margin-top: 0;


}