.ban {


    position: absolute;
    left: 30px;
    top: 0;
    display: inline-block;

}

.ban>.title1 {
    color: #000;
    background: #F8B915;

}

.ban>.title2 {
    background: #000;
    color: #fff;
    margin: 0;
    border: 0;


}

.ban {

    width: 100%;
    max-width: 1580px;
    padding: 0 60px 0 30px;
    margin: 0 auto;
    font-size: 0;
    line-height: 0;

    box-sizing: border-box;

}

.title1,
.title2 {

    width: 99px;
    height: 27px;
    font-weight: bold;

    font-size: 12px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 0 0 3px 2px;

}

.container {

    background: #f9f9f9;
    margin: 0 auto;

}


.container.case03 {

    padding-top: 20px;
    padding-right: 50px;
}

.case03 {

    display: flex;

}

.case03 .right {

    margin: 0 0 0 auto;

}

.case03 .right2 {

    margin: 0 0 0 10px;

}

.case03 .right3 {

    margin: 0 0 0 10px;

}

#header {


    height: 100px;
    display: flex;
    align-items: center;
    background: #f9f9f9;


}

#header .inner {

    width: 1800px;
    align-items: center;
    display: flex;
    /* 직계부모한테 씀 */
    margin: 0 auto;
}

#header h1 {

    text-align: left;
    margin: 0;
    /*위에 h1떔에 마진0으로 함*/




}

#header .gnb {

    margin: 0 0 0 auto;

}

/* 
#header * {

    outline: 1px solid #3333;

} */


#header .gnb>ul {

    display: flex;
    gap: 40px;

}

ul {

    display: flex;

}

#header .gnb>ul>li {

    position: relative;


}

.gnb>ul>li>a {
    font-weight: bold;
    font-size: 20px;
}

#header .gnb>ul>li~li::before {

    content: "";

    position: absolute;

    top: 50%;
    left: -20px;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 12px;
    background: black;

}




.mainContent .inner {

    display: flex;
    gap: 30px;
    width: 1200px;
    margin: auto;
    padding-top: 50px;

}


.mainContent .inner figure {

    flex: 1;
    overflow: hidden;

}

.mainContent .inner img {

    width: 100%;


}


.mainVisual .itm01 {
    height: 600px;
    background: url(../images/pc_banner\(7\).jpg) no-repeat center center/cover
}

.mainVisual .itm02 {
    height: 600px;
    background: url(../images/k-스피커스\ 2기\ 모집_pc_banner.jpg) no-repeat center center/cover
}


.mainVisual .itm03 {

    height: 600px;


    background: url(../images/pc\(4\).jpg) no-repeat center center/cover
}


.mainVisual .slick-dots {

    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0)
}

.mainVisual .slick-dots li {

    display: inline-block;
    width: 60px;
    height: 4px;
}

.tit {

    display: inline-block;
    background: #000;
    color: #fff;
    border-radius: 20px;
    padding: 8px 13px;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 100px;
    line-height: 1.5;


}


/* .slick-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;

    background: transparent;
    border: none;
    outline: none;

    font-size: 0;
    width: 100px;
    height: 100px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.slick-arrow {
    margin: 0 0 0 -700px;
    transform: translate(-50%, -50%) rotate(-45deg);
}



.slick-next {
    margin: 0 0 0 700px;
    transform: translate(-50%, -50%) rotate(135deg);
} */





.slick-dots {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
}

.slick-dots li {
    display: inline-block;
    margin: 0 2px;
}

.slick-dots li button {
    background: tomato;
    color: #fff;
    border-radius: 50%;
    padding: 5px;
    font-size: 10px;
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
}

.slick-dots li.slick-active button {
    background: #333;
}

figure .box {
    background: #f9f9f9;
    border-radius: 50%;
}



figure .box img {
    transition: 0.5s;

}


figure:hover .box img {

    transform: scale(1.1);
}